<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstrumentMonitorWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="InstrumentStatusWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <InstrumentMonitorWorker.Properties.Settings>
            <setting name="LocalErrorLog" serializeAs="String">
                <value>C:\temp\InstrumentStatusWorker</value>
            </setting>
            <setting name="KillLocation" serializeAs="String">
                <value>\\labshare\Instruments\Chem II\Mass Spectrometry II 895\InstrumentMonitor</value>
            </setting>
        </InstrumentMonitorWorker.Properties.Settings>
        <InstrumentStatusWorker.Properties.Settings>
            <setting name="LocalErrorLog" serializeAs="String">
                <value>C:\temp\InstrumentStatusWorker</value>
            </setting>
        </InstrumentStatusWorker.Properties.Settings>
    </applicationSettings>
</configuration>